requests~=2.32.3
ipywidgets~=8.1.2
matplotlib~=3.9.2
pandas~=2.2.3
seaborn~=0.13.2
numpy~=1.26.4
plotly~=5.24.1
opencv-python~=4.10.0.84
scikit-learn~=1.5.2
altair
networkx
streamlit
scipy
wandb~=0.18.3
torch~=2.5.1
optuna~=4.1.0
pytz~=2024.1
pymysql
cryptography==43.0.3